name: Test issue comment

on:
  issue_comment:
    types: [created]

jobs:
  trigger:
    if: github.event.issue.pull_request && contains(github.event.comment.body, '/karate')
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "A comment on PR $NUMBER"
        env:
          NUMBER: ${{ github.event.issue.number }}
