name: Test issue comment

on:
  issue_comment:
    types: [created]

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "A comment on PR $NUMBER"
        env:
          NUMBER: ${{ github.event.issue.number }}
